<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('Trade-Register-1950-2019-suppliers copy.txt',delimiter= "\t", index_col=False)

df.head(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,No.,...,No.,Unnamed: 15,recipient (R),ordered,designation,description,of order,delivery,delivered,Comments
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,R: Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,R: Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,R: Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Denmark,1,Lynx,ASW helicopter,(1987),1987,1,Second-hand; $3.5 m deal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,,NaN,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Ecuador,18,M-101A1 105mm,Towed gun,(1995),1995,18,Second-hand but modernized before delivery; pa...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Honduras,(60),MO-120-M65 120mm,Mortar,(1980),1981-1983,(60),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Paraguay,3,CV-440,Transport aircraft,1962,1962,3,Second-hand; $0.7 m deal; CV-440 version,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,,NaN,3,Bouchard,OPV,1964,1964-1968,3,Second-hand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,,NaN,1,G-21 Goose,Light transport ac,(1966),1967,1,Second-hand; aid,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,,NaN,1,DHC-3 Otter,Light transport ac,(1970),1972,1,Second-hand; aid,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,,NaN,1,LSM,Landing ship,1972,1972,1,Ex-Argentinian; modernized before delivery,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,,NaN,10,T-6 Texan,Trainer aircraft,(1975),1976,10,Second-hand; aid,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.rename(columns={'Unnamed: 0': 'RecipientSupplier'})

In [4]:
df

,RecipientSupplier,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,No.,...,No.,Unnamed: 15,recipient (R),ordered,designation,description,of order,delivery,delivered,Comments
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27031,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27032,R: Czechia,10,2S1 122mm,Self-propelled gun,(2000),2001,10,Second-hand,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27033,Zambia,(28),Ferret,APV,1964,1964,(28),Ex-Rhodesian; taken over as aid on independence,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27034,,NaN,2,Pembroke,Light transport ac,1964,1964,2,Ex-Rhodesian; taken over on independence; Pemb...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
recipient_ind = df[df['RecipientSupplier'].str.find("R:") != -1]

recipient_ind

,RecipientSupplier,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,No.,...,No.,Unnamed: 15,recipient (R),ordered,designation,description,of order,delivery,delivered,Comments
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,R: Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26979,R: Iraq,(75),D-30 122mm,Towed gun,(1988),1989-1990,(75),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27029,R: Liberia,1,DHC-4 Caribou,Transport aircraft,1989,1990,1,Second-hand (modernized in Malta before delivery),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27032,R: Czechia,10,2S1 122mm,Self-propelled gun,(2000),2001,10,Second-hand,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
recipient_ind = recipient_ind['RecipientSupplier'].dropna()

recipient_ind

3        R: Burkina Faso
6              R: Angola
11              R: Congo
18            R: Bolivia
46              R: Sudan
              ...
26962         R: Bolivia
26974        R: Cambodia
26979            R: Iraq
27029         R: Liberia
27032         R: Czechia
Name: RecipientSupplier, Length: 136, dtype: object

In [7]:
recip_ind_list = list(recipient_ind.keys())

supplier_ind_list = [r - 1 for r in recip_ind_list]

supplier_ind_list

[2,
 5,
 10,
 17,
 45,
 48,
 51,
 182,
 287,
 290,
 293,
 296,
 400,
 500,
 505,
 652,
 656,
 751,
 756,
 1286,
 1290,
 1312,
 2221,
 2227,
 2230,
 2234,
 2238,
 2244,
 2247,
 2359,
 2471,
 2549,
 2552,
 2556,
 2574,
 2578,
 2656,
 2661,
 2665,
 2671,
 2674,
 2678,
 2681,
 2762,
 2765,
 5187,
 5190,
 5197,
 6404,
 6408,
 6424,
 6427,
 6430,
 6450,
 6454,
 6532,
 6554,
 6597,
 6614,
 6625,
 7280,
 8209,
 8249,
 8294,
 8312,
 8316,
 8324,
 8333,
 8336,
 8341,
 8403,
 8408,
 8412,
 8415,
 8418,
 8427,
 8431,
 8435,
 8452,
 8461,
 8466,
 8469,
 8472,
 8475,
 9031,
 9059,
 9077,
 9080,
 9083,
 9131,
 9134,
 9270,
 9277,
 9303,
 9307,
 9314,
 9318,
 9429,
 9479,
 9489,
 9532,
 10673,
 10692,
 10695,
 10721,
 10725,
 10771,
 10818,
 10821,
 11047,
 11144,
 11147,
 11152,
 14512,
 14767,
 14770,
 14775,
 15194,
 15504,
 15525,
 15545,
 15550,
 15659,
 15731,
 15735,
 16145,
 18059,
 18062,
 26729,
 26951,
 26955,
 26961,
 26973,
 26978,
 27028,
 27031]

In [8]:
df.head(20)

,RecipientSupplier,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,No.,...,No.,Unnamed: 15,recipient (R),ordered,designation,description,of order,delivery,delivered,Comments
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,R: Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,R: Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,R: Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.insert(0,'Supplier','')
df

,Supplier,RecipientSupplier,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,...,No.,Unnamed: 15,recipient (R),ordered,designation,description,of order,delivery,delivered,Comments
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27030,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27031,,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27032,,R: Czechia,10,2S1 122mm,Self-propelled gun,(2000),2001,10,Second-hand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27033,,Zambia,(28),Ferret,APV,1964,1964,(28),Ex-Rhodesian; taken over as aid on independence,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27034,,,NaN,2,Pembroke,Light transport ac,1964,1964,2,Ex-Rhodesian; taken over on independence; Pemb...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.loc[supplier_ind_list]

,Supplier,RecipientSupplier,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,...,No.,Unnamed: 15,recipient (R),ordered,designation,description,of order,delivery,delivered,Comments
2,,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26961,,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26973,,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26978,,Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27028,,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27031,,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.loc[recip_ind_list]

,Supplier,RecipientSupplier,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,...,No.,Unnamed: 15,recipient (R),ordered,designation,description,of order,delivery,delivered,Comments
3,,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,,R: Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,,R: Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,,R: Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,,R: Sudan,1,An-32,Transport aircraft,(2005),2006,1,Second-hand; probably; ordered via Ukraine; mo...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26962,,R: Bolivia,9,F-86F Sabre,Fighter aircraft,(1973),1975,9,Second-hand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26974,,R: Cambodia,2,Project-206/Shershen,Patrol craft,(2005),2006,2,Second-hand; aid,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26979,,R: Iraq,(75),D-30 122mm,Towed gun,(1988),1989-1990,(75),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27029,,R: Liberia,1,DHC-4 Caribou,Transport aircraft,1989,1990,1,Second-hand (modernized in Malta before delivery),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27032,,R: Czechia,10,2S1 122mm,Self-propelled gun,(2000),2001,10,Second-hand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
shift_df = df.loc[supplier_ind_list, ["Supplier", "RecipientSupplier"]].shift(-1, axis=1, fill_value=" ")

shift_df

         Supplier RecipientSupplier
2         Albania
5         Algeria
10         Angola
17      Argentina
45        Armenia
...           ...               ...
26961   Venezuela
26973    Viet Nam
26978  Yugoslavia
27028      Zambia
27031    Zimbabwe

[136 rows x 2 columns]

In [13]:
shift_df.head(20)

                Supplier RecipientSupplier
2                Albania
5                Algeria
10                Angola
17             Argentina
45               Armenia
48                 Aruba
51             Australia
182              Austria
287              Bahamas
290              Bahrain
293           Bangladesh
296              Belarus
400              Belgium
500   Bosnia-Herzegovina
505               Brazil
652               Brunei
656             Bulgaria
751             Cambodia
756               Canada
1286                Chad

In [14]:
df['Supplier'] = shift_df['Supplier']

df.head(20)

,Supplier,RecipientSupplier,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,...,No.,Unnamed: 15,recipient (R),ordered,designation,description,of order,delivery,delivered,Comments
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Algeria,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,R: Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Angola,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,R: Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Argentina,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,R: Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.insert(1,'Recipient','')

df

,Supplier,Recipient,RecipientSupplier,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,...,No.,Unnamed: 15,recipient (R),ordered,designation,description,of order,delivery,delivered,Comments
0,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27030,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27031,Zimbabwe,,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27032,NaN,,R: Czechia,10,2S1 122mm,Self-propelled gun,(2000),2001,10,Second-hand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27033,NaN,,Zambia,(28),Ferret,APV,1964,1964,(28),Ex-Rhodesian; taken over as aid on independence,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27034,NaN,,,NaN,2,Pembroke,Light transport ac,1964,1964,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
all_recip_list = df.loc[~df.index.isin(supplier_ind_list)]

# # df = df.loc[recip_ind_list, ["Recipient", "RecipientSupplier"]].shift(-1, axis=1, fill_value=" ")

# # df

# all_recip_list
# all_recip_list.index
recip_shift_df = df.loc[all_recip_list.index, ["Recipient", "RecipientSupplier"]].shift(-1, axis=1, fill_value=" ")

recip_shift_df.head(20)

              Recipient RecipientSupplier
0                   NaN
1                   NaN
3       R: Burkina Faso
4                   NaN
6             R: Angola
7               Nigeria
8        Western Sahara
9                   NaN
11             R: Congo
12        Cote d'Ivoire
13
14        Guinea-Bissau
15        United States
16                  NaN
18           R: Bolivia
19             Colombia
20              Denmark
21
22              Ecuador
23             Honduras

In [17]:
df['Recipient'] = recip_shift_df['Recipient']

df.head(20)

,Supplier,Recipient,RecipientSupplier,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,...,No.,Unnamed: 15,recipient (R),ordered,designation,description,of order,delivery,delivered,Comments
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,R: Burkina Faso,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Algeria,NaN,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,R: Angola,R: Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Nigeria,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Western Sahara,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Angola,NaN,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,R: Congo,R: Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Cote d'Ivoire,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,,,NaN,2,T-55,Tank,2002,2002,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Guinea-Bissau,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,United States,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Argentina,NaN,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,R: Bolivia,R: Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Colombia,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27035 entries, 0 to 27034
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Supplier           136 non-null    object
 1   Recipient          26762 non-null  object
 2   RecipientSupplier  26898 non-null  object
 3   Unnamed: 1         3317 non-null   object
 4   Unnamed: 2         26649 non-null  object
 5   Unnamed: 3         26762 non-null  object
 6                      26762 non-null  object
 7   Year(s)            26685 non-null  object
 8   Unnamed: 6         25998 non-null  object
 9   Supplier/          25540 non-null  object
 10  Unnamed: 8         18901 non-null  object
 11  No.                0 non-null      float64
 12  Weapon             0 non-null      float64
 13  Weapon.1           0 non-null      float64
 14  Year               0 non-null      float64
 15  of                 0 non-null      float64
 16  No.                0 non-null      float64
 17  Unnamed: 15        0 non-null      float64
 18  recipient (R)      0 non-null      float64
 19  ordered            0 non-null      float64
 20  designation        0 non-null      float64
 21  description        0 non-null      float64
 22  of order           0 non-null      float64
 23  delivery           0 non-null      float64
 24  delivered          0 non-null      float64
 25  Comments           0 non-null      float64
dtypes: float64(15), object(11)
memory usage: 5.4+ MB

In [19]:
df1 = df.iloc[:,:-15]

df1

,Supplier,Recipient,RecipientSupplier,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,R: Burkina Faso,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27031,Zimbabwe,NaN,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27032,NaN,R: Czechia,R: Czechia,10,2S1 122mm,Self-propelled gun,(2000),2001,10,Second-hand,NaN
27033,NaN,Zambia,Zambia,(28),Ferret,APV,1964,1964,(28),Ex-Rhodesian; taken over as aid on independence,NaN
27034,NaN,,,NaN,2,Pembroke,Light transport ac,1964,1964,2,Ex-Rhodesian; taken over on independence; Pemb...

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27035 entries, 0 to 27034
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Supplier           136 non-null    object
 1   Recipient          26762 non-null  object
 2   RecipientSupplier  26898 non-null  object
 3   Unnamed: 1         3317 non-null   object
 4   Unnamed: 2         26649 non-null  object
 5   Unnamed: 3         26762 non-null  object
 6                      26762 non-null  object
 7   Year(s)            26685 non-null  object
 8   Unnamed: 6         25998 non-null  object
 9   Supplier/          25540 non-null  object
 10  Unnamed: 8         18901 non-null  object
dtypes: object(11)
memory usage: 2.3+ MB

In [21]:
df1 = df1.drop('RecipientSupplier',axis=1)

df1.head()

,Supplier,Recipient,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df1.head(20)

,Supplier,Recipient,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,R: Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,NaN
7,NaN,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand,NaN
8,NaN,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,R: Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,NaN
12,NaN,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels,NaN
13,NaN,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
14,NaN,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain,NaN
15,NaN,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,R: Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions,NaN
19,NaN,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations,NaN

In [23]:
df1['Recipient'] = df1['Recipient'].str.replace(r'R:', '')

df1.head(20)

,Supplier,Recipient,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,NaN
7,NaN,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand,NaN
8,NaN,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,NaN
12,NaN,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels,NaN
13,NaN,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
14,NaN,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain,NaN
15,NaN,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions,NaN
19,NaN,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations,NaN

In [24]:
blank_recipient_list = df1['Recipient'] == '     '

blank_recipient_list

0        False
1        False
2        False
3        False
4        False
         ...
27030    False
27031    False
27032    False
27033    False
27034     True
Name: Recipient, Length: 27035, dtype: bool

In [25]:
df1.loc[blank_recipient_list] = df1.loc[blank_recipient_list]

df1.loc[blank_recipient_list]

,Supplier,Recipient,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8
13,NaN,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
21,NaN,,NaN,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters
25,NaN,,NaN,3,Bouchard,OPV,1964,1964-1968,3,Second-hand
26,NaN,,NaN,1,G-21 Goose,Light transport ac,(1966),1967,1,Second-hand; aid
27,NaN,,NaN,1,DHC-3 Otter,Light transport ac,(1970),1972,1,Second-hand; aid
...,...,...,...,...,...,...,...,...,...,...
27022,NaN,,NaN,1,PN-13,Tanker,1969,1969,1,Second-hand but modernized before delivery; Su...
27023,NaN,,NaN,5,DTM-211,Landing craft,(1990),1991,5,Designation uncertain
27025,NaN,,NaN,2,G-2A Galeb,Trainer aircraft,1970,1971,2,G-2AE version
27026,NaN,,NaN,4,J-1 Jastreb,Ground attack ac,1970,1971,4,J-1E version; possibly incl 2 RJ-1E reconnaiss...
27034,NaN,,NaN,2,Pembroke,Light transport ac,1964,1964,2,Ex-Rhodesian; taken over on independence; Pemb...

In [26]:
df1.loc[blank_recipient_list] = df1.loc[blank_recipient_list].shift(-1, axis=1, fill_value=" ")

blank_recipient_list

0        False
1        False
2        False
3        False
4        False
         ...
27030    False
27031    False
27032    False
27033    False
27034     True
Name: Recipient, Length: 27035, dtype: bool

In [27]:
df1.loc[blank_recipient_list]

,Supplier,Recipient,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8
13,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels,
21,,NaN,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters,
25,,NaN,3,Bouchard,OPV,1964,1964-1968,3,Second-hand,
26,,NaN,1,G-21 Goose,Light transport ac,(1966),1967,1,Second-hand; aid,
27,,NaN,1,DHC-3 Otter,Light transport ac,(1970),1972,1,Second-hand; aid,
...,...,...,...,...,...,...,...,...,...,...
27022,,NaN,1,PN-13,Tanker,1969,1969,1,Second-hand but modernized before delivery; Su...,
27023,,NaN,5,DTM-211,Landing craft,(1990),1991,5,Designation uncertain,
27025,,NaN,2,G-2A Galeb,Trainer aircraft,1970,1971,2,G-2AE version,
27026,,NaN,4,J-1 Jastreb,Ground attack ac,1970,1971,4,J-1E version; possibly incl 2 RJ-1E reconnaiss...,
27034,,NaN,2,Pembroke,Light transport ac,1964,1964,2,Ex-Rhodesian; taken over on independence; Pemb...,

In [28]:
df1.head(30)

,Supplier,Recipient,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,NaN
7,NaN,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand,NaN
8,NaN,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,NaN
12,NaN,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels,NaN
13,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels,
14,NaN,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain,NaN
15,NaN,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions,NaN
19,NaN,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations,NaN
20,NaN,Denmark,1,Lynx,ASW helicopter,(1987),1987,1,Second-hand; $3.5 m deal,NaN
21,,NaN,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters,
22,NaN,Ecuador,18,M-101A1 105mm,Towed gun,(1995),1995,18,Second-hand but modernized before delivery; pa...,NaN
23,NaN,Honduras,(60),MO-120-M65 120mm,Mortar,(1980),1981-1983,(60),NaN,NaN
24,NaN,Paraguay,3,CV-440,Transport aircraft,1962,1962,3,Second-hand; $0.7 m deal; CV-440 version,NaN
25,,NaN,3,Bouchard,OPV,1964,1964-1968,3,Second-hand,
26,,NaN,1,G-21 Goose,Light transport ac,(1966),1967,1,Second-hand; aid,
27,,NaN,1,DHC-3 Otter,Light transport ac,(1970),1972,1,Second-hand; aid,
28,,NaN,1,LSM,Landing ship,1972,1972,1,Ex-Argentinian; modernized before delivery,
29,,NaN,10,T-6 Texan,Trainer aircraft,(1975),1976,10,Second-hand; aid,

In [29]:
df1.columns

Index(['Supplier', 'Recipient', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', ' ',
       'Year(s)', 'Unnamed: 6', 'Supplier/', 'Unnamed: 8'],
      dtype='object')

In [30]:
df1 = df1.rename(columns={'Unnamed: 1': 'Ordered','Unnamed: 2': 'NoDesignation', 'Unnamed: 3': 'WeaponDescription',' ':'OrderYear','Year(s)':'DeliveryYear','Unnamed: 6':'NDelivered','Supplier/':'Comments' })

df1.head(20)

,Supplier,Recipient,Ordered,NoDesignation,WeaponDescription,OrderYear,DeliveryYear,NDelivered,Comments,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,NaN
7,NaN,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand,NaN
8,NaN,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,NaN
12,NaN,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels,NaN
13,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels,
14,NaN,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain,NaN
15,NaN,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions,NaN
19,NaN,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations,NaN

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27035 entries, 0 to 27034
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Supplier           23563 non-null  object
 1   Recipient          3335 non-null   object
 2   Ordered            26631 non-null  object
 3   NoDesignation      26762 non-null  object
 4   WeaponDescription  26762 non-null  object
 5   OrderYear          26762 non-null  object
 6   DeliveryYear       25998 non-null  object
 7   NDelivered         25998 non-null  object
 8   Comments           21701 non-null  object
 9   Unnamed: 8         23427 non-null  object
dtypes: object(10)
memory usage: 2.1+ MB

In [32]:
df1['Unnamed: 8'].value_counts()

     23427
Name: Unnamed: 8, dtype: int64

In [33]:
df1 = df1.drop('Unnamed: 8',axis=1)

df1.head(20)

,Supplier,Recipient,Ordered,NoDesignation,WeaponDescription,OrderYear,DeliveryYear,NDelivered,Comments
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
7,NaN,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand
8,NaN,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid
12,NaN,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels
13,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
14,NaN,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain
15,NaN,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions
19,NaN,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations

In [34]:
df1 = df1.dropna(how='all')

df1.head()

,Supplier,Recipient,Ordered,NoDesignation,WeaponDescription,OrderYear,DeliveryYear,NDelivered,Comments
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
7,NaN,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand

In [35]:
df1.head(30)

,Supplier,Recipient,Ordered,NoDesignation,WeaponDescription,OrderYear,DeliveryYear,NDelivered,Comments
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
7,NaN,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand
8,NaN,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid
10,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid
12,NaN,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels
13,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
14,NaN,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain
15,NaN,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...
17,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions
19,NaN,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations
20,NaN,Denmark,1,Lynx,ASW helicopter,(1987),1987,1,Second-hand; $3.5 m deal
21,,NaN,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters
22,NaN,Ecuador,18,M-101A1 105mm,Towed gun,(1995),1995,18,Second-hand but modernized before delivery; pa...
23,NaN,Honduras,(60),MO-120-M65 120mm,Mortar,(1980),1981-1983,(60),NaN
24,NaN,Paraguay,3,CV-440,Transport aircraft,1962,1962,3,Second-hand; $0.7 m deal; CV-440 version
25,,NaN,3,Bouchard,OPV,1964,1964-1968,3,Second-hand
26,,NaN,1,G-21 Goose,Light transport ac,(1966),1967,1,Second-hand; aid
27,,NaN,1,DHC-3 Otter,Light transport ac,(1970),1972,1,Second-hand; aid
28,,NaN,1,LSM,Landing ship,1972,1972,1,Ex-Argentinian; modernized before delivery
29,,NaN,10,T-6 Texan,Trainer aircraft,(1975),1976,10,Second-hand; aid
30,,NaN,1,DC-3/C-47 Skytrain,Transport aircraft,1979,1979,1,Second-hand; aid
31,,NaN,3,Firefly,Tank,1980,1980,3,Second-hand
32,,NaN,6,M-4 Sherman,Tank,(1982),1982,(6),Second-hand
33,,NaN,20,M-3/M-5 Half-track,APC,2007,2011,(20),Second-hand; aid; M-9 version
34,NaN,Spain,1,CH-47C Chinook,Transport helicopter,2001,2001,1,Second-hand

In [36]:
df1 = df1.replace(r'^\s*$', np.nan, regex=True)

df1.head(20)

,Supplier,Recipient,Ordered,NoDesignation,WeaponDescription,OrderYear,DeliveryYear,NDelivered,Comments
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
7,NaN,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand
8,NaN,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid
10,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid
12,NaN,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels
13,NaN,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
14,NaN,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain
15,NaN,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...
17,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions
19,NaN,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations
20,NaN,Denmark,1,Lynx,ASW helicopter,(1987),1987,1,Second-hand; $3.5 m deal
21,NaN,NaN,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters
22,NaN,Ecuador,18,M-101A1 105mm,Towed gun,(1995),1995,18,Second-hand but modernized before delivery; pa...
23,NaN,Honduras,(60),MO-120-M65 120mm,Mortar,(1980),1981-1983,(60),NaN
24,NaN,Paraguay,3,CV-440,Transport aircraft,1962,1962,3,Second-hand; $0.7 m deal; CV-440 version

In [37]:
df1['Supplier']= df1[['Supplier']].ffill()

df1.head(20)

,Supplier,Recipient,Ordered,NoDesignation,WeaponDescription,OrderYear,DeliveryYear,NDelivered,Comments
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Algeria,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
7,Algeria,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand
8,Algeria,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid
10,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Angola,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid
12,Angola,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels
13,Angola,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
14,Angola,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain
15,Angola,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...
17,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Argentina,Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions
19,Argentina,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations
20,Argentina,Denmark,1,Lynx,ASW helicopter,(1987),1987,1,Second-hand; $3.5 m deal
21,Argentina,NaN,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters
22,Argentina,Ecuador,18,M-101A1 105mm,Towed gun,(1995),1995,18,Second-hand but modernized before delivery; pa...
23,Argentina,Honduras,(60),MO-120-M65 120mm,Mortar,(1980),1981-1983,(60),NaN
24,Argentina,Paraguay,3,CV-440,Transport aircraft,1962,1962,3,Second-hand; $0.7 m deal; CV-440 version

In [38]:
df1.head(30)

,Supplier,Recipient,Ordered,NoDesignation,WeaponDescription,OrderYear,DeliveryYear,NDelivered,Comments
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand
5,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Algeria,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
7,Algeria,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand
8,Algeria,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid
10,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Angola,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid
12,Angola,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels
13,Angola,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
14,Angola,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain
15,Angola,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...
17,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Argentina,Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions
19,Argentina,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations
20,Argentina,Denmark,1,Lynx,ASW helicopter,(1987),1987,1,Second-hand; $3.5 m deal
21,Argentina,NaN,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters
22,Argentina,Ecuador,18,M-101A1 105mm,Towed gun,(1995),1995,18,Second-hand but modernized before delivery; pa...
23,Argentina,Honduras,(60),MO-120-M65 120mm,Mortar,(1980),1981-1983,(60),NaN
24,Argentina,Paraguay,3,CV-440,Transport aircraft,1962,1962,3,Second-hand; $0.7 m deal; CV-440 version
25,Argentina,NaN,3,Bouchard,OPV,1964,1964-1968,3,Second-hand
26,Argentina,NaN,1,G-21 Goose,Light transport ac,(1966),1967,1,Second-hand; aid
27,Argentina,NaN,1,DHC-3 Otter,Light transport ac,(1970),1972,1,Second-hand; aid
28,Argentina,NaN,1,LSM,Landing ship,1972,1972,1,Ex-Argentinian; modernized before delivery
29,Argentina,NaN,10,T-6 Texan,Trainer aircraft,(1975),1976,10,Second-hand; aid
30,Argentina,NaN,1,DC-3/C-47 Skytrain,Transport aircraft,1979,1979,1,Second-hand; aid
31,Argentina,NaN,3,Firefly,Tank,1980,1980,3,Second-hand
32,Argentina,NaN,6,M-4 Sherman,Tank,(1982),1982,(6),Second-hand
33,Argentina,NaN,20,M-3/M-5 Half-track,APC,2007,2011,(20),Second-hand; aid; M-9 version
34,Argentina,Spain,1,CH-47C Chinook,Transport helicopter,2001,2001,1,Second-hand

In [39]:
(df1.Supplier.values == 'Angola').argmax()

6

In [40]:
df1.Supplier.value_counts()

United States               8666
Soviet Union                3359
France                      2421
United Kingdom              1913
Germany                     1206
                            ...
Albania                        2
Cyprus                         2
Gabon                          2
Guyana                         2
Mujahedin (Afghanistan)*       2
Name: Supplier, Length: 136, dtype: int64

In [41]:
first_occur_ind = df1.loc[(~df1.Supplier.duplicated())].index
first_occur_ind

Int64Index([    2,     5,    10,    17,    45,    48,    51,   182,   287,
              290,
            ...
            18059, 18062, 26729, 26951, 26955, 26961, 26973, 26978, 27028,
            27031],
           dtype='int64', length=136)

In [52]:
#As the first occurrences are always just indicating suppliers, they can be dropped

df2 = df1[~df1.index.isin(first_occur_ind)]

df2.head(30)

,Supplier,Recipient,Ordered,NoDesignation,WeaponDescription,OrderYear,DeliveryYear,NDelivered,Comments
3,Albania,Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand
6,Algeria,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
7,Algeria,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand
8,Algeria,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid
11,Angola,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid
12,Angola,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels
13,Angola,Cote d'Ivoire,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
14,Angola,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain
15,Angola,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...
18,Argentina,Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions
19,Argentina,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations
20,Argentina,Denmark,1,Lynx,ASW helicopter,(1987),1987,1,Second-hand; $3.5 m deal
21,Argentina,Denmark,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters
22,Argentina,Ecuador,18,M-101A1 105mm,Towed gun,(1995),1995,18,Second-hand but modernized before delivery; pa...
23,Argentina,Honduras,(60),MO-120-M65 120mm,Mortar,(1980),1981-1983,(60),NaN
24,Argentina,Paraguay,3,CV-440,Transport aircraft,1962,1962,3,Second-hand; $0.7 m deal; CV-440 version
25,Argentina,Paraguay,3,Bouchard,OPV,1964,1964-1968,3,Second-hand
26,Argentina,Paraguay,1,G-21 Goose,Light transport ac,(1966),1967,1,Second-hand; aid
27,Argentina,Paraguay,1,DHC-3 Otter,Light transport ac,(1970),1972,1,Second-hand; aid
28,Argentina,Paraguay,1,LSM,Landing ship,1972,1972,1,Ex-Argentinian; modernized before delivery
29,Argentina,Paraguay,10,T-6 Texan,Trainer aircraft,(1975),1976,10,Second-hand; aid
30,Argentina,Paraguay,1,DC-3/C-47 Skytrain,Transport aircraft,1979,1979,1,Second-hand; aid
31,Argentina,Paraguay,3,Firefly,Tank,1980,1980,3,Second-hand
32,Argentina,Paraguay,6,M-4 Sherman,Tank,(1982),1982,(6),Second-hand
33,Argentina,Paraguay,20,M-3/M-5 Half-track,APC,2007,2011,(20),Second-hand; aid; M-9 version
34,Argentina,Spain,1,CH-47C Chinook,Transport helicopter,2001,2001,1,Second-hand
35,Argentina,Sri Lanka,4,IA-58A Pucara,Ground attack ac,1992,1993-1994,4,$11 m deal; produced 1980s on speculation for ...
36,Argentina,Uruguay,2,T-6 Texan,Trainer aircraft,(1969),1970,2,Second-hand
37,Argentina,Uruguay,3,Beech-18/C-45,Light transport ac,(1979),1979,3,Second-hand; TC-45H version
38,Argentina,Uruguay,9,T-28D,Trainer/combat ac,1979,1979,9,Second-hand; aid; T-28S version

In [57]:
df2.to_csv('d2_start.csv', index=False)